<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      {% comment %} background-image: url("background-image.jpg"); {% endcomment %}
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .form-container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 5px;
      width: 400px;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <div class="form-container">
    {% block content %}
    
    
    {% endblock content %}


    
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
